$font-light: #fff;
$font-dark: #000;
$font-primary: #333;
$font-secondary: #666;

$background-light: #fff;
$background-grey-light: #d4d4d4;
$background-dark: #000;
$background-primary: #333;
$background-secondary: #666;

$border-light: #fff;
$border-grey: #ccc;

$color-primary: #0095f6;
$color-secondary: #ed4956;
